:root {
    --text-dark: black;
    --text-light: white;
    --main-bg: white;
    --header-bg: navy;
  }
  

.login{
    width: fit-content;
}

.container{
    display: flex;
}

.nav-link{
    color: var(text-light) !important;
}

.headline{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-dark);
}

.bg-primary{
    background-color: var(--header-bg) !important;
}

.navbar-brand{
    font-weight: 1000;
    font-size: x-large;
}

.btn-outline-success{
    color: var(--text-light);
    background-color: var(--header-bg);
    border-color: var(--text-light);
}

.btn-outline-success:hover{
    color: var(--header-bg);
    background-color: var(--text-light);
    border-color: var(--text-light);
}